@import 'header';
@import 'button';
@import 'index';
@import 'errors';
@import 'task';

body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    font-family: Avenir;
    font-style: normal;
}


a {
    text-decoration: none;
    color: black;
}

.notice {
    color: red;
}


img {
    width: 100%;
}

.pt-20 {
    padding-top: 20px;
}


.mt-35 {
    margin-top: 35px;
}