.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    height: 58px;
}

.header-left {
    margin-left: 30px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 19px;
    

}


.header-right {
    margin: 9px 30px;
    width: 40px;
    height: 40px;
    
}

.user-icon {
    width: 100%;
}


.dropdown {
    position: relative;


    &-content {
        position: absolute;
        top: 25px;
        right: 0;
        display: none;
        border:1px solid grey;
        border-radius: 5px;
        background-color: white;
        // box-shadow: rgba($color: #000000, $alpha: 0.5);
        z-index: 800;
        width: 100px;
        padding: 5px;
        

        
        }
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: 100%;
        display: block;
        text-align: center;
        }
}
