.board {
    background-color: #f4f4f4;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    
    &-title {
        padding-top: 20px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        width: 80%;

    }

    &-content {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.4;
    }
    

    &-menu {
        position: absolute;
        top: 20px;
        right: 30px;
        text-align: right;
        z-index: 999;

        &-content {
            display: none;
            flex-direction: column;
            text-align: center;
            background-color: white;
            border-radius: 10px;
            padding: 5px 10px;

        }

}

.board-menu:hover .board-menu-content {
    display: flex;
}
}


.new-board {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;

    p {
        line-height: 160px;
        margin: 0;
    }
}