.task-page-header {
    display: flex;
    justify-content: space-between;
}

.task-menu {
    width: 20px;
    position: relative;
    display: flex;
    align-items: center;

    &-content {
        position: absolute;
        display: none;
        z-index: 999;
        top: 60px;
        right: 0px;
        background-color: white;
        border-radius: 10px;
        text-align: center;

        a {
            padding: 5px 10px;
            margin: 0 auto;
            height: 20px;
            line-height: 30px;
        }

    }
}


.task-menu:hover .task-menu-content {
    display: block;
    }


.task {
    height: 300px;
    padding: 0;


}






.small-image {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.task-image {
    height: 160px;
    overflow: hidden;
    border-radius: 10px;
}

.task-content {
    margin-left: 20px;
}

.comment {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
}